*{
  margin:0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background: #fefefe;
}
img{
  max-width: 100%;
}

.menu_bar{
  display: none;
}

header{
  width: 100%;
}

header nav{
  display: flex;
  justify-content: space-between;
  background: #023859;
  z-index: 1000;
  width: 80%;
  margin: 20px auto;
}

header nav ul{
  list-style:none;
}

header nav ul li{
  display: inline-block;
  position: relative;
}

header nav ul li:hover{
  background: #E63;
}

header nav ul li a{
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 20px;
}
header nav img{
  height: 60px;
}

header nav ul li a span{
  margin-right: 10px;
}

.main{
    width: 90%;
    margin: 2em auto .5em auto;
  }
.main section picture img{
    max-width: 100%;
  }
.main .empieza a{
  display: block;
  text-decoration: none;
  width: 100%;
  margin: auto;
  font-size: .8em;
  background: #3F2919;
  text-align: center;
  color: #F79900;
  padding: 1em;
  margin-bottom: .5em;
}
.main .pedido{
  background: #F79900;
  color: #3F2919;
}
.main .pedido h2{
  width: 100%;
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
}
.main .pedido p{
  width: 100%;
  text-align: center;
  padding: 1em;
}

.main .restaurant{
  width: 100%;
  background: #3F2919;
  margin-top: .3em;
}
.main .restaurant h2{
  text-transform: uppercase;
  color: #F79900;
  width: 100%;
  padding: 1em 1em 0 1em;
  text-align: center;
}
.main .restaurant p{
  width: 100%;
  text-align: center;
  padding: 1em;
  color: #F79900;
}
.main .restaurant h3{
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
}
.main .restaurant ul{
  list-style:none;
  padding: 0 3em 1em 3em;
}
.main .restaurant ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
}
.main .restaurant ul li a span{
  padding: 0 1em;
}
.main .contacto{
  width: 100%;
  padding: 1em;
}
.main .contacto h2{
  width: 100%;
  text-align: center;
  color:#3F2919;
  font-size: 2em;
}
.main .contacto form{
  width: 100%;
  padding: 1em 0 0 0;
  display: flex;
  flex-direction: column;
}
.main .contacto form > *{
  display: flex;
  flex-direction: column;
  margin: .5em;
}
.main .contacto form .input input,
.main .contacto form .input textarea{
  border: 1px solid #000;
}
.main .contacto form .input input{
  height: 2em;
}

.main .contacto form .input button{
  background: #F79900;
  height: 3em;
  font-size: 1em;
  color: #fff;
  font-weight: bold;
}

.restaurantes{
  width: 90%;
  margin:1em auto;
}
.restaurantes .restaurante{
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
.restaurantes .restaurante .title{
  background: #E9EBEE;
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border: 1px solid #BDBDBD;
}
.restaurantes .restaurante .title h2{
  
  color: #3F2919;
  width: 80%;
  padding: .3em 0 .3em .3em;
}
.restaurantes .restaurante .title .favorite{
  width: 20%;
  font-size: 1.8em;
  text-align: center;
  -webkit-text-fill-color: #E9EBEE;
  -webkit-text-stroke: 2px #A4A4A4;
}
.restaurantes .restaurante .title .favorite:hover{
    -webkit-text-fill-color: #DA251C;
    -webkit-text-stroke: 2px #424242;
}
.restaurantes .restaurante .rate{
  display: flex;
  flex-direction: row-reverse;
  background: #F6F7F9;
  width: 100%;
  z-index: -1000;
  padding: .8em 0;
  border-left: 1px solid #BDBDBD;
  border-right: 1px solid #BDBDBD;
  margin:-.5em auto;
}
.restaurantes .restaurante .date{
  font-size: .8em;
  padding: .5em;
  background: #E9EBEE;
  margin-top: .5em;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-bottom:1px solid #BDBDBD ;
  border-left: 1px solid #BDBDBD;
  border-right: 1px solid #BDBDBD;
}

footer{
  width: 90%;
  margin: 0 auto 1em auto;
  background: #000;
  color: #fff;
  padding: .5em 3em;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
#main h1{
  width: 100%;
  padding: .5em 1em;
  text-align: center;
  color: #F79900;
  text-shadow: 2px 2px 0px #3F2919;
  margin: auto;
}
.filtros{
  width: 90%;
  margin:1em auto 0 auto;
}
.filtros .input{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.filtros .input input{
  width: 90%;
  margin: auto;
  border: 1px solid #3F2919;
  border-radius: 50px;
  height: 2em;
  padding: 1em;
  font-size:1em;
}
.resultados {
  width: 90%;
  margin: 1em auto;
}
.resultados .respuesta{
  background: #eee;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-bottom: 1px solid #3F2919;
}
.resultados .respuesta .image{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.resultados .respuesta .image picture{
  width: 50%;
}
.resultados .respuesta .image p{
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}
.resultados .respuesta .image picture img{
  width: 100%;
  border-radius: 50%;
  padding: 1em;
}
.resultados .respuesta .name{
  width: 100%;
  margin: auto;
}
.resultados .respuesta .name h2{
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  text-transform: uppercase;
}
.resultados .respuesta .price{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;

}
.resultados .respuesta .price h2{
  text-transform: uppercase;
}
.resultados .respuesta .price button{
  width: 50%;
  -ms-align-self: flex-end;
  align-self: flex-end;
  border:0;
  background: #F79900;
  color: #3F2919;
  padding: .5em;
  font-size: 1em;
  border-radius: 50px;
}

.modal{
  background: rgba(0,0,0,.9);
  width: 100%;
  height: 100vh;
  top:0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

}
.modal form{
  width: 90%;
  margin: 1em auto;
  background: #eee;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.modal form .title{
  width: 100%;
  text-align: center;
  margin: 1em auto;
}
.modal form .title h2{
  text-transform: uppercase;
}

.modal form .image{
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.modal form .image picture{
  width: 50em;
}
.modal form .image p{
  display: flex;
  align-items: center;
  text-align: center;
}
.modal form .image picture img{
  width: 90%;
  border-radius: 50%;
}
.modal form .price{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
  overflow: hidden;
}

.modal form .price h2{
  text-transform: uppercase;
}
.modal form .price .cantidad span{
  height: 35px;
  width: 20px;
  background: green;
  padding: 1em .5em;
  margin:0;
  color: #fff;
  font-size: 1.3em;
}
.modal form .price .cantidad .menos{
  background: #D8514D;
}
.modal form .price .cantidad .mas{
  background: #56B15B;
}

.modal form .price .cantidad span:hover{
  cursor: pointer;
}
.modal form .price .cantidad input{
  width: 40px;
  height: 35px;
  text-align: center;
  margin:-.5em;
}

.modal form .textarea{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modal form .textarea label{
  margin: .5em;
  font-weight: bold;
}
.modal form .textarea textarea{
  width: 100%;
  height: 20vh;
  border: 1px solid #424242;
}
.modal form .inputs{
  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
.modal form .inputs input{
  width: 45%;
  text-align: center;
  color: #fff;
  border: 0;
  padding: 1em 0;
  font-size: .8em;
  border-radius: 15px;
  font-weight: bold;
}
.modal form .inputs .cancelar{
  background: #D8514D;
}
.modal form .inputs .ordenar{
  background: #56B15B;
}

@media screen and (max-width: 800px) {
  body{
    padding-top: 93px;
  }
  .menu_bar{
    display: block;
    width: 100%;
    position: fixed;
    top:0;
    background: #fff;
    padding: 0;
  }
  .menu_bar .bt-menu{    
    display: block;
    padding: 10px 20px; 
    color: #3F2919;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 3px dotted #F79900;
    text-shadow: 2px 2px 0px #F79900;
  }
  .menu_bar .bt-menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu_bar .bt-menu img{
    height: 40px;
  }
  .menu_bar span.title{
    font-family: 'Pacifico', cursive;
  }
  .menu_bar span{    
    float: right;
    font-size: 40px;
  }
  header nav{
    width: 80%;
    height: calc(100% - 93px);
    position: fixed;
    right: 100%;
    margin: 0;
    overflow: scroll;
    background: #3F2919;
  }
  header nav img{
    display: none;
  }
    header nav ul{
      width: 100%;
    }
  header nav ul li{
    font-size: 20px;
    display: block;
    border-bottom: 1px solid #F79900;
  }
  header nav ul li a{
    display: block;
  }

}