<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

	  <link rel="stylesheet" href="css/style.css">
	  <link rel="stylesheet" href="css/font-awesome.css">
	<title>A Comer!</title>
</head>
<body>
<header>
    <div class="menu_bar">
      <a href="#" class="bt-menu">
      <span class="title">A COMER</span>
      <span class="fa fa-bars"></span>
    </div>
      </a>
    <nav>
      <ul>
        <li><a href="index.html"><span class="fa fa-home"></span>Inicio</a></li>
        <li><a href="#"><span class="fa fa-cutlery"></span>Menú del Día</a></li>
        <li><a href="restaurantes.html"><span class="fa fa-heart"></span>Restaurantes</a></li>
        <li><a href="#"><span class="fa fa-user"></span>Contacto</a></li>
      </ul>
      <img src="img/logo.png" alt="">
    </nav>
  </header>
  <div id="main">

  	<h1>MENU DEL DIA</h1>
  	<div class="filtros">
  		<div class="input">
  			<input type="text" placeholder="Ingrese Plato" v-model="busqueda">
  		</div>
  	</div>
  	<div class="resultados">
  		<div class="respuesta" v-for="persona in personas">
  			<div class="image">
  				<picture>
  					<img v-bind:src="persona.picture.large" alt="">
  				</picture>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, inventore doloremque libero culpa consectetur.</p>
  			</div>
  			<div class="name">
  				<h2>{{persona.name.first}}</h2>
  			</div>
  			<div class="price">
  				<h2>{{persona.gender}}</h2>
  				<button @click="Ordernar(persona)">ORDENAR</button>
  			</div>

  		</div>
  	</div>

<template v-if="modal">
   <div class="modal">
      <form action="">
        <div class="title">
          <h2>ORDENAR {{ModalTitle}}</h2>
        </div>
        <div class="image">
          <picture>
            <img v-bind:src="ModalImg" alt="">
          </picture>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, inventore doloremque libero culpa consectetur.</p>
        </div>
        <div class="price">
          <h2>{{ModalPrice}}</h2>
          <div class="cantidad">
            <span class="menos" @click="disminuir">-</span>
            <input type="number" v-model="cantidad">
            <span class="mas" @click="aumentar">+</span>
          </div>
        </div>
        <div class="textarea">
          <label >Detalle</label>
          <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="inputs">
          <input type="text" class="cancelar" @click="cerrarModal" value="CANCELAR">
          <input type="text" class="ordenar" value="ORDENAR">
        </div> 
      </form>
    </div>
</template>

   

  </div>
    <footer>
    <span class="fa fa-facebook"></span>
    <span class="fa fa-twitter"></span>
    <span class="fa fa-youtube"></span>
    <span class="fa fa-instagram"></span>
  </footer>
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script src="js/app.js"></script>




</body>
</html>